.osjs-icon {
  &[data-icon="address-book-new"] {
    background-image: url("src/icons/actions/address-book-new.svg");
  }
  &[data-icon="application-exit"] {
    background-image: url("src/icons/actions/application-exit.svg");
  }
  &[data-icon="appointment-new"] {
    background-image: url("src/icons/actions/appointment-new.svg");
  }
  &[data-icon="bookmark-new"] {
    background-image: url("src/icons/actions/bookmark-new.svg");
  }
  &[data-icon="call-start"] {
    background-image: url("src/icons/actions/call-start.svg");
  }
  &[data-icon="call-stop"] {
    background-image: url("src/icons/actions/call-stop.svg");
  }
  &[data-icon="contact-new"] {
    background-image: url("src/icons/actions/contact-new.svg");
  }
  &[data-icon="document-new"] {
    background-image: url("src/icons/actions/document-new.svg");
  }
  &[data-icon="document-open-recent"] {
    background-image: url("src/icons/actions/document-open-recent.svg");
  }
  &[data-icon="document-open"] {
    background-image: url("src/icons/actions/document-open.svg");
  }
  &[data-icon="document-page-setup"] {
    background-image: url("src/icons/actions/document-page-setup.svg");
  }
  &[data-icon="document-print-preview"] {
    background-image: url("src/icons/actions/document-print-preview.svg");
  }
  &[data-icon="document-print"] {
    background-image: url("src/icons/actions/document-print.svg");
  }
  &[data-icon="document-properties"] {
    background-image: url("src/icons/actions/document-properties.svg");
  }
  &[data-icon="document-revert-rtl"] {
    background-image: url("src/icons/actions/document-revert-rtl.svg");
  }
  &[data-icon="document-revert"] {
    background-image: url("src/icons/actions/document-revert.svg");
  }
  &[data-icon="document-save-as"] {
    background-image: url("src/icons/actions/document-save-as.svg");
  }
  &[data-icon="document-save"] {
    background-image: url("src/icons/actions/document-save.svg");
  }
  &[data-icon="document-send"] {
    background-image: url("src/icons/actions/document-send.svg");
  }
  &[data-icon="edit-clear-all"] {
    background-image: url("src/icons/actions/edit-clear-all.svg");
  }
  &[data-icon="edit-clear-rtl"] {
    background-image: url("src/icons/actions/edit-clear-rtl.svg");
  }
  &[data-icon="edit-clear"] {
    background-image: url("src/icons/actions/edit-clear.svg");
  }
  &[data-icon="edit-copy"] {
    background-image: url("src/icons/actions/edit-copy.svg");
  }
  &[data-icon="edit-cut"] {
    background-image: url("src/icons/actions/edit-cut.svg");
  }
  &[data-icon="edit-delete"] {
    background-image: url("src/icons/actions/edit-delete.svg");
  }
  &[data-icon="edit-find-replace"] {
    background-image: url("src/icons/actions/edit-find-replace.svg");
  }
  &[data-icon="edit-find"] {
    background-image: url("src/icons/actions/edit-find.svg");
  }
  &[data-icon="edit-paste"] {
    background-image: url("src/icons/actions/edit-paste.svg");
  }
  &[data-icon="edit-redo-rtl"] {
    background-image: url("src/icons/actions/edit-redo-rtl.svg");
  }
  &[data-icon="edit-redo"] {
    background-image: url("src/icons/actions/edit-redo.svg");
  }
  &[data-icon="edit-select-all"] {
    background-image: url("src/icons/actions/edit-select-all.svg");
  }
  &[data-icon="edit-undo-rtl"] {
    background-image: url("src/icons/actions/edit-undo-rtl.svg");
  }
  &[data-icon="edit-undo"] {
    background-image: url("src/icons/actions/edit-undo.svg");
  }
  &[data-icon="folder-new"] {
    background-image: url("src/icons/actions/folder-new.svg");
  }
  &[data-icon="format-indent-less-rtl"] {
    background-image: url("src/icons/actions/format-indent-less-rtl.svg");
  }
  &[data-icon="format-indent-less"] {
    background-image: url("src/icons/actions/format-indent-less.svg");
  }
  &[data-icon="format-indent-more-rtl"] {
    background-image: url("src/icons/actions/format-indent-more-rtl.svg");
  }
  &[data-icon="format-indent-more"] {
    background-image: url("src/icons/actions/format-indent-more.svg");
  }
  &[data-icon="format-justify-center"] {
    background-image: url("src/icons/actions/format-justify-center.svg");
  }
  &[data-icon="format-justify-fill"] {
    background-image: url("src/icons/actions/format-justify-fill.svg");
  }
  &[data-icon="format-justify-left"] {
    background-image: url("src/icons/actions/format-justify-left.svg");
  }
  &[data-icon="format-justify-right"] {
    background-image: url("src/icons/actions/format-justify-right.svg");
  }
  &[data-icon="format-text-bold"] {
    background-image: url("src/icons/actions/format-text-bold.svg");
  }
  &[data-icon="format-text-direction-ltr"] {
    background-image: url("src/icons/actions/format-text-direction-ltr.svg");
  }
  &[data-icon="format-text-direction-rtl"] {
    background-image: url("src/icons/actions/format-text-direction-rtl.svg");
  }
  &[data-icon="format-text-italic"] {
    background-image: url("src/icons/actions/format-text-italic.svg");
  }
  &[data-icon="format-text-strikethrough"] {
    background-image: url("src/icons/actions/format-text-strikethrough.svg");
  }
  &[data-icon="format-text-underline"] {
    background-image: url("src/icons/actions/format-text-underline.svg");
  }
  &[data-icon="go-bottom"] {
    background-image: url("src/icons/actions/go-bottom.svg");
  }
  &[data-icon="go-down"] {
    background-image: url("src/icons/actions/go-down.svg");
  }
  &[data-icon="go-first-rtl"] {
    background-image: url("src/icons/actions/go-first-rtl.svg");
  }
  &[data-icon="go-first"] {
    background-image: url("src/icons/actions/go-first.svg");
  }
  &[data-icon="go-home"] {
    background-image: url("src/icons/actions/go-home.svg");
  }
  &[data-icon="go-jump"] {
    background-image: url("src/icons/actions/go-jump.svg");
  }
  &[data-icon="go-last-rtl"] {
    background-image: url("src/icons/actions/go-last-rtl.svg");
  }
  &[data-icon="go-last"] {
    background-image: url("src/icons/actions/go-last.svg");
  }
  &[data-icon="go-next-rtl"] {
    background-image: url("src/icons/actions/go-next-rtl.svg");
  }
  &[data-icon="go-next"] {
    background-image: url("src/icons/actions/go-next.svg");
  }
  &[data-icon="go-previous-rtl"] {
    background-image: url("src/icons/actions/go-previous-rtl.svg");
  }
  &[data-icon="go-previous"] {
    background-image: url("src/icons/actions/go-previous.svg");
  }
  &[data-icon="go-top"] {
    background-image: url("src/icons/actions/go-top.svg");
  }
  &[data-icon="go-up"] {
    background-image: url("src/icons/actions/go-up.svg");
  }
  &[data-icon="help-about"] {
    background-image: url("src/icons/actions/help-about.svg");
  }
  &[data-icon="help-contents"] {
    background-image: url("src/icons/actions/help-contents.svg");
  }
  &[data-icon="help-faq"] {
    background-image: url("src/icons/actions/help-faq.svg");
  }
  &[data-icon="insert-image"] {
    background-image: url("src/icons/actions/insert-image.svg");
  }
  &[data-icon="insert-link"] {
    background-image: url("src/icons/actions/insert-link.svg");
  }
  &[data-icon="insert-object"] {
    background-image: url("src/icons/actions/insert-object.svg");
  }
  &[data-icon="insert-text"] {
    background-image: url("src/icons/actions/insert-text.svg");
  }
  &[data-icon="list-add"] {
    background-image: url("src/icons/actions/list-add.svg");
  }
  &[data-icon="list-remove"] {
    background-image: url("src/icons/actions/list-remove.svg");
  }
  &[data-icon="mail-forward"] {
    background-image: url("src/icons/actions/mail-forward.svg");
  }
  &[data-icon="mail-mark-important"] {
    background-image: url("src/icons/actions/mail-mark-important.svg");
  }
  &[data-icon="mail-mark-junk"] {
    background-image: url("src/icons/actions/mail-mark-junk.svg");
  }
  &[data-icon="mail-mark-notjunk"] {
    background-image: url("src/icons/actions/mail-mark-notjunk.svg");
  }
  &[data-icon="mail-mark-read"] {
    background-image: url("src/icons/actions/mail-mark-read.svg");
  }
  &[data-icon="mail-mark-unread"] {
    background-image: url("src/icons/actions/mail-mark-unread.svg");
  }
  &[data-icon="mail-message-new"] {
    background-image: url("src/icons/actions/mail-message-new.svg");
  }
  &[data-icon="mail-reply-all"] {
    background-image: url("src/icons/actions/mail-reply-all.svg");
  }
  &[data-icon="mail-reply-sender"] {
    background-image: url("src/icons/actions/mail-reply-sender.svg");
  }
  &[data-icon="mail-send-receive"] {
    background-image: url("src/icons/actions/mail-send-receive.svg");
  }
  &[data-icon="mail-send"] {
    background-image: url("src/icons/actions/mail-send.svg");
  }
  &[data-icon="mark-location"] {
    background-image: url("src/icons/actions/mark-location.svg");
  }
  &[data-icon="media-eject"] {
    background-image: url("src/icons/actions/media-eject.svg");
  }
  &[data-icon="media-playback-pause"] {
    background-image: url("src/icons/actions/media-playback-pause.svg");
  }
  &[data-icon="media-playback-start-rtl"] {
    background-image: url("src/icons/actions/media-playback-start-rtl.svg");
  }
  &[data-icon="media-playback-start"] {
    background-image: url("src/icons/actions/media-playback-start.svg");
  }
  &[data-icon="media-playback-stop"] {
    background-image: url("src/icons/actions/media-playback-stop.svg");
  }
  &[data-icon="media-record"] {
    background-image: url("src/icons/actions/media-record.svg");
  }
  &[data-icon="media-seek-backward-rtl"] {
    background-image: url("src/icons/actions/media-seek-backward-rtl.svg");
  }
  &[data-icon="media-seek-backward"] {
    background-image: url("src/icons/actions/media-seek-backward.svg");
  }
  &[data-icon="media-seek-forward-rtl"] {
    background-image: url("src/icons/actions/media-seek-forward-rtl.svg");
  }
  &[data-icon="media-seek-forward"] {
    background-image: url("src/icons/actions/media-seek-forward.svg");
  }
  &[data-icon="media-skip-backward-rtl"] {
    background-image: url("src/icons/actions/media-skip-backward-rtl.svg");
  }
  &[data-icon="media-skip-backward"] {
    background-image: url("src/icons/actions/media-skip-backward.svg");
  }
  &[data-icon="media-skip-forward-rtl"] {
    background-image: url("src/icons/actions/media-skip-forward-rtl.svg");
  }
  &[data-icon="media-skip-forward"] {
    background-image: url("src/icons/actions/media-skip-forward.svg");
  }
  &[data-icon="object-flip-horizontal"] {
    background-image: url("src/icons/actions/object-flip-horizontal.svg");
  }
  &[data-icon="object-flip-vertical"] {
    background-image: url("src/icons/actions/object-flip-vertical.svg");
  }
  &[data-icon="object-rotate-left"] {
    background-image: url("src/icons/actions/object-rotate-left.svg");
  }
  &[data-icon="object-rotate-right"] {
    background-image: url("src/icons/actions/object-rotate-right.svg");
  }
  &[data-icon="process-stop"] {
    background-image: url("src/icons/actions/process-stop.svg");
  }
  &[data-icon="system-lock-screen"] {
    background-image: url("src/icons/actions/system-lock-screen.svg");
  }
  &[data-icon="system-log-out"] {
    background-image: url("src/icons/actions/system-log-out.svg");
  }
  &[data-icon="system-run"] {
    background-image: url("src/icons/actions/system-run.svg");
  }
  &[data-icon="system-search"] {
    background-image: url("src/icons/actions/system-search.svg");
  }
  &[data-icon="system-shutdown"] {
    background-image: url("src/icons/actions/system-shutdown.svg");
  }
  &[data-icon="tools-check-spelling"] {
    background-image: url("src/icons/actions/tools-check-spelling.svg");
  }
  &[data-icon="view-fullscreen"] {
    background-image: url("src/icons/actions/view-fullscreen.svg");
  }
  &[data-icon="view-refresh"] {
    background-image: url("src/icons/actions/view-refresh.svg");
  }
  &[data-icon="view-restore"] {
    background-image: url("src/icons/actions/view-restore.svg");
  }
  &[data-icon="view-sort-ascending"] {
    background-image: url("src/icons/actions/view-sort-ascending.svg");
  }
  &[data-icon="view-sort-descending"] {
    background-image: url("src/icons/actions/view-sort-descending.svg");
  }
  &[data-icon="window-close"] {
    background-image: url("src/icons/actions/window-close.svg");
  }
  &[data-icon="window-new"] {
    background-image: url("src/icons/actions/window-new.svg");
  }
  &[data-icon="zoom-fit-best"] {
    background-image: url("src/icons/actions/zoom-fit-best.svg");
  }
  &[data-icon="zoom-in"] {
    background-image: url("src/icons/actions/zoom-in.svg");
  }
  &[data-icon="zoom-original"] {
    background-image: url("src/icons/actions/zoom-original.svg");
  }
  &[data-icon="zoom-out"] {
    background-image: url("src/icons/actions/zoom-out.svg");
  }
  &[data-icon="accessories-calculator"] {
    background-image: url("src/icons/apps/accessories-calculator.svg");
  }
  &[data-icon="accessories-character-map"] {
    background-image: url("src/icons/apps/accessories-character-map.svg");
  }
  &[data-icon="accessories-dictionary"] {
    background-image: url("src/icons/apps/accessories-dictionary.svg");
  }
  &[data-icon="accessories-text-editor"] {
    background-image: url("src/icons/apps/accessories-text-editor.svg");
  }
  &[data-icon="applets-screenshooter"] {
    background-image: url("src/icons/apps/applets-screenshooter.svg");
  }
  &[data-icon="help-browser"] {
    background-image: url("src/icons/apps/help-browser.svg");
  }
  &[data-icon="multimedia-volume-control"] {
    background-image: url("src/icons/apps/multimedia-volume-control.svg");
  }
  &[data-icon="preferences-desktop-accessibility"] {
    background-image: url("src/icons/apps/preferences-desktop-accessibility.svg");
  }
  &[data-icon="preferences-desktop-display"] {
    background-image: url("src/icons/apps/preferences-desktop-display.svg");
  }
  &[data-icon="preferences-desktop-font"] {
    background-image: url("src/icons/apps/preferences-desktop-font.svg");
  }
  &[data-icon="preferences-desktop-keyboard-shortcuts"] {
    background-image: url("src/icons/apps/preferences-desktop-keyboard-shortcuts.svg");
  }
  &[data-icon="preferences-desktop-keyboard"] {
    background-image: url("src/icons/apps/preferences-desktop-keyboard.svg");
  }
  &[data-icon="preferences-desktop-locale"] {
    background-image: url("src/icons/apps/preferences-desktop-locale.svg");
  }
  &[data-icon="preferences-desktop-remote-desktop"] {
    background-image: url("src/icons/apps/preferences-desktop-remote-desktop.svg");
  }
  &[data-icon="preferences-desktop-screensaver"] {
    background-image: url("src/icons/apps/preferences-desktop-screensaver.svg");
  }
  &[data-icon="preferences-desktop-theme"] {
    background-image: url("src/icons/apps/preferences-desktop-theme.svg");
  }
  &[data-icon="preferences-desktop-wallpaper"] {
    background-image: url("src/icons/apps/preferences-desktop-wallpaper.svg");
  }
  &[data-icon="preferences-system-notifications"] {
    background-image: url("src/icons/apps/preferences-system-notifications.svg");
  }
  &[data-icon="preferences-system-privacy"] {
    background-image: url("src/icons/apps/preferences-system-privacy.svg");
  }
  &[data-icon="preferences-system-search"] {
    background-image: url("src/icons/apps/preferences-system-search.svg");
  }
  &[data-icon="preferences-system-sharing"] {
    background-image: url("src/icons/apps/preferences-system-sharing.svg");
  }
  &[data-icon="preferences-system-windows"] {
    background-image: url("src/icons/apps/preferences-system-windows.svg");
  }
  &[data-icon="system-file-manager"] {
    background-image: url("src/icons/apps/system-file-manager.svg");
  }
  &[data-icon="system-software-install"] {
    background-image: url("src/icons/apps/system-software-install.svg");
  }
  &[data-icon="system-software-update"] {
    background-image: url("src/icons/apps/system-software-update.svg");
  }
  &[data-icon="system-users"] {
    background-image: url("src/icons/apps/system-users.svg");
  }
  &[data-icon="user-info"] {
    background-image: url("src/icons/apps/user-info.svg");
  }
  &[data-icon="utilities-system-monitor"] {
    background-image: url("src/icons/apps/utilities-system-monitor.svg");
  }
  &[data-icon="utilities-terminal"] {
    background-image: url("src/icons/apps/utilities-terminal.svg");
  }
  &[data-icon="web-browser"] {
    background-image: url("src/icons/apps/web-browser.svg");
  }
  &[data-icon="applications-accessories"] {
    background-image: url("src/icons/categories/applications-accessories.svg");
  }
  &[data-icon="applications-development"] {
    background-image: url("src/icons/categories/applications-development.svg");
  }
  &[data-icon="applications-engineering"] {
    background-image: url("src/icons/categories/applications-engineering.svg");
  }
  &[data-icon="applications-games"] {
    background-image: url("src/icons/categories/applications-games.svg");
  }
  &[data-icon="applications-graphics"] {
    background-image: url("src/icons/categories/applications-graphics.svg");
  }
  &[data-icon="applications-internet"] {
    background-image: url("src/icons/categories/applications-internet.svg");
  }
  &[data-icon="applications-multimedia"] {
    background-image: url("src/icons/categories/applications-multimedia.svg");
  }
  &[data-icon="applications-office"] {
    background-image: url("src/icons/categories/applications-office.svg");
  }
  &[data-icon="applications-other"] {
    background-image: url("src/icons/categories/applications-other.svg");
  }
  &[data-icon="applications-science"] {
    background-image: url("src/icons/categories/applications-science.svg");
  }
  &[data-icon="applications-system"] {
    background-image: url("src/icons/categories/applications-system.svg");
  }
  &[data-icon="applications-utilities"] {
    background-image: url("src/icons/categories/applications-utilities.svg");
  }
  &[data-icon="preferences-desktop-peripherals"] {
    background-image: url("src/icons/categories/preferences-desktop-peripherals.svg");
  }
  &[data-icon="preferences-desktop-personal"] {
    background-image: url("src/icons/categories/preferences-desktop-personal.svg");
  }
  &[data-icon="preferences-desktop"] {
    background-image: url("src/icons/categories/preferences-desktop.svg");
  }
  &[data-icon="preferences-other"] {
    background-image: url("src/icons/categories/preferences-other.svg");
  }
  &[data-icon="preferences-system-network"] {
    background-image: url("src/icons/categories/preferences-system-network.svg");
  }
  &[data-icon="preferences-system"] {
    background-image: url("src/icons/categories/preferences-system.svg");
  }
  &[data-icon="system-help"] {
    background-image: url("src/icons/categories/system-help.svg");
  }
  &[data-icon="ac-adapter"] {
    background-image: url("src/icons/devices/ac-adapter.svg");
  }
  &[data-icon="audio-card"] {
    background-image: url("src/icons/devices/audio-card.svg");
  }
  &[data-icon="audio-headphones"] {
    background-image: url("src/icons/devices/audio-headphones.svg");
  }
  &[data-icon="audio-headset"] {
    background-image: url("src/icons/devices/audio-headset.svg");
  }
  &[data-icon="audio-input-microphone"] {
    background-image: url("src/icons/devices/audio-input-microphone.svg");
  }
  &[data-icon="audio-speakers"] {
    background-image: url("src/icons/devices/audio-speakers.svg");
  }
  &[data-icon="battery"] {
    background-image: url("src/icons/devices/battery.svg");
  }
  &[data-icon="camera-photo"] {
    background-image: url("src/icons/devices/camera-photo.svg");
  }
  &[data-icon="camera-video"] {
    background-image: url("src/icons/devices/camera-video.svg");
  }
  &[data-icon="camera-web"] {
    background-image: url("src/icons/devices/camera-web.svg");
  }
  &[data-icon="computer"] {
    background-image: url("src/icons/devices/computer.svg");
  }
  &[data-icon="drive-harddisk"] {
    background-image: url("src/icons/devices/drive-harddisk.svg");
  }
  &[data-icon="drive-multidisk"] {
    background-image: url("src/icons/devices/drive-multidisk.svg");
  }
  &[data-icon="drive-optical"] {
    background-image: url("src/icons/devices/drive-optical.svg");
  }
  &[data-icon="drive-removable-media"] {
    background-image: url("src/icons/devices/drive-removable-media.svg");
  }
  &[data-icon="ebook-reader"] {
    background-image: url("src/icons/devices/ebook-reader.svg");
  }
  &[data-icon="input-dialpad"] {
    background-image: url("src/icons/devices/input-dialpad.svg");
  }
  &[data-icon="input-gaming"] {
    background-image: url("src/icons/devices/input-gaming.svg");
  }
  &[data-icon="input-keyboard"] {
    background-image: url("src/icons/devices/input-keyboard.svg");
  }
  &[data-icon="input-mouse"] {
    background-image: url("src/icons/devices/input-mouse.svg");
  }
  &[data-icon="input-tablet"] {
    background-image: url("src/icons/devices/input-tablet.svg");
  }
  &[data-icon="input-touchpad"] {
    background-image: url("src/icons/devices/input-touchpad.svg");
  }
  &[data-icon="media-flash"] {
    background-image: url("src/icons/devices/media-flash.svg");
  }
  &[data-icon="media-floppy"] {
    background-image: url("src/icons/devices/media-floppy.svg");
  }
  &[data-icon="media-optical"] {
    background-image: url("src/icons/devices/media-optical.svg");
  }
  &[data-icon="media-removable"] {
    background-image: url("src/icons/devices/media-removable.svg");
  }
  &[data-icon="media-tape"] {
    background-image: url("src/icons/devices/media-tape.svg");
  }
  &[data-icon="modem"] {
    background-image: url("src/icons/devices/modem.svg");
  }
  &[data-icon="multimedia-player"] {
    background-image: url("src/icons/devices/multimedia-player.svg");
  }
  &[data-icon="network-vpn"] {
    background-image: url("src/icons/devices/network-vpn.svg");
  }
  &[data-icon="network-wired"] {
    background-image: url("src/icons/devices/network-wired.svg");
  }
  &[data-icon="network-wireless"] {
    background-image: url("src/icons/devices/network-wireless.svg");
  }
  &[data-icon="pda"] {
    background-image: url("src/icons/devices/pda.svg");
  }
  &[data-icon="phone"] {
    background-image: url("src/icons/devices/phone.svg");
  }
  &[data-icon="printer-network"] {
    background-image: url("src/icons/devices/printer-network.svg");
  }
  &[data-icon="printer"] {
    background-image: url("src/icons/devices/printer.svg");
  }
  &[data-icon="scanner"] {
    background-image: url("src/icons/devices/scanner.svg");
  }
  &[data-icon="uninterruptible-power-supply"] {
    background-image: url("src/icons/devices/uninterruptible-power-supply.svg");
  }
  &[data-icon="video-display"] {
    background-image: url("src/icons/devices/video-display.svg");
  }
  &[data-icon="emblem-default"] {
    background-image: url("src/icons/emblems/emblem-default.svg");
  }
  &[data-icon="emblem-desktop"] {
    background-image: url("src/icons/emblems/emblem-desktop.svg");
  }
  &[data-icon="emblem-documents"] {
    background-image: url("src/icons/emblems/emblem-documents.svg");
  }
  &[data-icon="emblem-downloads"] {
    background-image: url("src/icons/emblems/emblem-downloads.svg");
  }
  &[data-icon="emblem-favorite"] {
    background-image: url("src/icons/emblems/emblem-favorite.svg");
  }
  &[data-icon="emblem-generic"] {
    background-image: url("src/icons/emblems/emblem-generic.svg");
  }
  &[data-icon="emblem-important"] {
    background-image: url("src/icons/emblems/emblem-important.svg");
  }
  &[data-icon="emblem-mail"] {
    background-image: url("src/icons/emblems/emblem-mail.svg");
  }
  &[data-icon="emblem-new"] {
    background-image: url("src/icons/emblems/emblem-new.svg");
  }
  &[data-icon="emblem-package"] {
    background-image: url("src/icons/emblems/emblem-package.svg");
  }
  &[data-icon="emblem-photos"] {
    background-image: url("src/icons/emblems/emblem-photos.svg");
  }
  &[data-icon="emblem-readonly"] {
    background-image: url("src/icons/emblems/emblem-readonly.svg");
  }
  &[data-icon="emblem-shared"] {
    background-image: url("src/icons/emblems/emblem-shared.svg");
  }
  &[data-icon="emblem-symbolic-link"] {
    background-image: url("src/icons/emblems/emblem-symbolic-link.svg");
  }
  &[data-icon="emblem-synchronizing"] {
    background-image: url("src/icons/emblems/emblem-synchronizing.svg");
  }
  &[data-icon="emblem-system"] {
    background-image: url("src/icons/emblems/emblem-system.svg");
  }
  &[data-icon="emblem-unreadable"] {
    background-image: url("src/icons/emblems/emblem-unreadable.svg");
  }
  &[data-icon="emblem-urgent"] {
    background-image: url("src/icons/emblems/emblem-urgent.svg");
  }
  &[data-icon="emblem-web"] {
    background-image: url("src/icons/emblems/emblem-web.svg");
  }
  &[data-icon="emote-love"] {
    background-image: url("src/icons/emotes/emote-love.svg");
  }
  &[data-icon="face-angel"] {
    background-image: url("src/icons/emotes/face-angel.svg");
  }
  &[data-icon="face-angry"] {
    background-image: url("src/icons/emotes/face-angry.svg");
  }
  &[data-icon="face-cool"] {
    background-image: url("src/icons/emotes/face-cool.svg");
  }
  &[data-icon="face-crying"] {
    background-image: url("src/icons/emotes/face-crying.svg");
  }
  &[data-icon="face-devilish"] {
    background-image: url("src/icons/emotes/face-devilish.svg");
  }
  &[data-icon="face-embarrassed"] {
    background-image: url("src/icons/emotes/face-embarrassed.svg");
  }
  &[data-icon="face-glasses"] {
    background-image: url("src/icons/emotes/face-glasses.svg");
  }
  &[data-icon="face-kiss"] {
    background-image: url("src/icons/emotes/face-kiss.svg");
  }
  &[data-icon="face-laugh"] {
    background-image: url("src/icons/emotes/face-laugh.svg");
  }
  &[data-icon="face-monkey"] {
    background-image: url("src/icons/emotes/face-monkey.svg");
  }
  &[data-icon="face-plain"] {
    background-image: url("src/icons/emotes/face-plain.svg");
  }
  &[data-icon="face-raspberry"] {
    background-image: url("src/icons/emotes/face-raspberry.svg");
  }
  &[data-icon="face-sad"] {
    background-image: url("src/icons/emotes/face-sad.svg");
  }
  &[data-icon="face-sick"] {
    background-image: url("src/icons/emotes/face-sick.svg");
  }
  &[data-icon="face-smile-big"] {
    background-image: url("src/icons/emotes/face-smile-big.svg");
  }
  &[data-icon="face-smile"] {
    background-image: url("src/icons/emotes/face-smile.svg");
  }
  &[data-icon="face-smirk"] {
    background-image: url("src/icons/emotes/face-smirk.svg");
  }
  &[data-icon="face-surprise"] {
    background-image: url("src/icons/emotes/face-surprise.svg");
  }
  &[data-icon="face-tired"] {
    background-image: url("src/icons/emotes/face-tired.svg");
  }
  &[data-icon="face-uncertain"] {
    background-image: url("src/icons/emotes/face-uncertain.svg");
  }
  &[data-icon="face-wink"] {
    background-image: url("src/icons/emotes/face-wink.svg");
  }
  &[data-icon="face-worried"] {
    background-image: url("src/icons/emotes/face-worried.svg");
  }
  &[data-icon="application-certificate"] {
    background-image: url("src/icons/mimetypes/application-certificate.svg");
  }
  &[data-icon="application-x-addon"] {
    background-image: url("src/icons/mimetypes/application-x-addon.svg");
  }
  &[data-icon="application-x-executable"] {
    background-image: url("src/icons/mimetypes/application-x-executable.svg");
  }
  &[data-icon="application-x-firmware"] {
    background-image: url("src/icons/mimetypes/application-x-firmware.svg");
  }
  &[data-icon="audio-x-generic"] {
    background-image: url("src/icons/mimetypes/audio-x-generic.svg");
  }
  &[data-icon="font-x-generic"] {
    background-image: url("src/icons/mimetypes/font-x-generic.svg");
  }
  &[data-icon="image-x-generic"] {
    background-image: url("src/icons/mimetypes/image-x-generic.svg");
  }
  &[data-icon="package-x-generic"] {
    background-image: url("src/icons/mimetypes/package-x-generic.svg");
  }
  &[data-icon="text-html"] {
    background-image: url("src/icons/mimetypes/text-html.svg");
  }
  &[data-icon="text-x-generic-template"] {
    background-image: url("src/icons/mimetypes/text-x-generic-template.svg");
  }
  &[data-icon="text-x-generic"] {
    background-image: url("src/icons/mimetypes/text-x-generic.svg");
  }
  &[data-icon="text-x-preview"] {
    background-image: url("src/icons/mimetypes/text-x-preview.svg");
  }
  &[data-icon="text-x-script"] {
    background-image: url("src/icons/mimetypes/text-x-script.svg");
  }
  &[data-icon="video-x-generic"] {
    background-image: url("src/icons/mimetypes/video-x-generic.svg");
  }
  &[data-icon="x-office-address-book"] {
    background-image: url("src/icons/mimetypes/x-office-address-book.svg");
  }
  &[data-icon="x-office-calendar"] {
    background-image: url("src/icons/mimetypes/x-office-calendar.svg");
  }
  &[data-icon="x-office-document-template"] {
    background-image: url("src/icons/mimetypes/x-office-document-template.svg");
  }
  &[data-icon="x-office-document"] {
    background-image: url("src/icons/mimetypes/x-office-document.svg");
  }
  &[data-icon="x-office-drawing-template"] {
    background-image: url("src/icons/mimetypes/x-office-drawing-template.svg");
  }
  &[data-icon="x-office-drawing"] {
    background-image: url("src/icons/mimetypes/x-office-drawing.svg");
  }
  &[data-icon="x-office-presentation-template"] {
    background-image: url("src/icons/mimetypes/x-office-presentation-template.svg");
  }
  &[data-icon="x-office-presentation"] {
    background-image: url("src/icons/mimetypes/x-office-presentation.svg");
  }
  &[data-icon="x-office-spreadsheet-template"] {
    background-image: url("src/icons/mimetypes/x-office-spreadsheet-template.svg");
  }
  &[data-icon="x-office-spreadsheet"] {
    background-image: url("src/icons/mimetypes/x-office-spreadsheet.svg");
  }
  &[data-icon="x-package-repository"] {
    background-image: url("src/icons/mimetypes/x-package-repository.svg");
  }
  &[data-icon="folder-documents"] {
    background-image: url("src/icons/places/folder-documents.svg");
  }
  &[data-icon="folder-download"] {
    background-image: url("src/icons/places/folder-download.svg");
  }
  &[data-icon="folder-music"] {
    background-image: url("src/icons/places/folder-music.svg");
  }
  &[data-icon="folder-pictures"] {
    background-image: url("src/icons/places/folder-pictures.svg");
  }
  &[data-icon="folder-publicshare"] {
    background-image: url("src/icons/places/folder-publicshare.svg");
  }
  &[data-icon="folder-remote"] {
    background-image: url("src/icons/places/folder-remote.svg");
  }
  &[data-icon="folder-saved-search"] {
    background-image: url("src/icons/places/folder-saved-search.svg");
  }
  &[data-icon="folder-templates"] {
    background-image: url("src/icons/places/folder-templates.svg");
  }
  &[data-icon="folder-videos"] {
    background-image: url("src/icons/places/folder-videos.svg");
  }
  &[data-icon="folder"] {
    background-image: url("src/icons/places/folder.svg");
  }
  &[data-icon="network-server"] {
    background-image: url("src/icons/places/network-server.svg");
  }
  &[data-icon="network-workgroup"] {
    background-image: url("src/icons/places/network-workgroup.svg");
  }
  &[data-icon="start-here"] {
    background-image: url("src/icons/places/start-here.svg");
  }
  &[data-icon="user-bookmarks"] {
    background-image: url("src/icons/places/user-bookmarks.svg");
  }
  &[data-icon="user-desktop"] {
    background-image: url("src/icons/places/user-desktop.svg");
  }
  &[data-icon="user-home"] {
    background-image: url("src/icons/places/user-home.svg");
  }
  &[data-icon="user-trash"] {
    background-image: url("src/icons/places/user-trash.svg");
  }
  &[data-icon="appointment-missed"] {
    background-image: url("src/icons/status/appointment-missed.svg");
  }
  &[data-icon="appointment-soon"] {
    background-image: url("src/icons/status/appointment-soon.svg");
  }
  &[data-icon="audio-volume-high"] {
    background-image: url("src/icons/status/audio-volume-high.svg");
  }
  &[data-icon="audio-volume-low"] {
    background-image: url("src/icons/status/audio-volume-low.svg");
  }
  &[data-icon="audio-volume-medium"] {
    background-image: url("src/icons/status/audio-volume-medium.svg");
  }
  &[data-icon="audio-volume-muted"] {
    background-image: url("src/icons/status/audio-volume-muted.svg");
  }
  &[data-icon="avatar-default"] {
    background-image: url("src/icons/status/avatar-default.svg");
  }
  &[data-icon="battery-caution-charging"] {
    background-image: url("src/icons/status/battery-caution-charging.svg");
  }
  &[data-icon="battery-caution"] {
    background-image: url("src/icons/status/battery-caution.svg");
  }
  &[data-icon="battery-empty"] {
    background-image: url("src/icons/status/battery-empty.svg");
  }
  &[data-icon="battery-full-charged"] {
    background-image: url("src/icons/status/battery-full-charged.svg");
  }
  &[data-icon="battery-full-charging"] {
    background-image: url("src/icons/status/battery-full-charging.svg");
  }
  &[data-icon="battery-full"] {
    background-image: url("src/icons/status/battery-full.svg");
  }
  &[data-icon="battery-good-charging"] {
    background-image: url("src/icons/status/battery-good-charging.svg");
  }
  &[data-icon="battery-good"] {
    background-image: url("src/icons/status/battery-good.svg");
  }
  &[data-icon="battery-low-charging"] {
    background-image: url("src/icons/status/battery-low-charging.svg");
  }
  &[data-icon="battery-low"] {
    background-image: url("src/icons/status/battery-low.svg");
  }
  &[data-icon="battery-missing"] {
    background-image: url("src/icons/status/battery-missing.svg");
  }
  &[data-icon="changes-allow"] {
    background-image: url("src/icons/status/changes-allow.svg");
  }
  &[data-icon="changes-prevent"] {
    background-image: url("src/icons/status/changes-prevent.svg");
  }
  &[data-icon="computer-fail"] {
    background-image: url("src/icons/status/computer-fail.svg");
  }
  &[data-icon="dialog-error"] {
    background-image: url("src/icons/status/dialog-error.svg");
  }
  &[data-icon="dialog-information"] {
    background-image: url("src/icons/status/dialog-information.svg");
  }
  &[data-icon="dialog-password"] {
    background-image: url("src/icons/status/dialog-password.svg");
  }
  &[data-icon="dialog-question"] {
    background-image: url("src/icons/status/dialog-question.svg");
  }
  &[data-icon="dialog-warning"] {
    background-image: url("src/icons/status/dialog-warning.svg");
  }
  &[data-icon="folder-drag-accept"] {
    background-image: url("src/icons/status/folder-drag-accept.svg");
  }
  &[data-icon="folder-open"] {
    background-image: url("src/icons/status/folder-open.svg");
  }
  &[data-icon="folder-visiting"] {
    background-image: url("src/icons/status/folder-visiting.svg");
  }
  &[data-icon="image-loading"] {
    background-image: url("src/icons/status/image-loading.svg");
  }
  &[data-icon="image-missing"] {
    background-image: url("src/icons/status/image-missing.svg");
  }
  &[data-icon="mail-attachment"] {
    background-image: url("src/icons/status/mail-attachment.svg");
  }
  &[data-icon="mail-read"] {
    background-image: url("src/icons/status/mail-read.svg");
  }
  &[data-icon="mail-replied"] {
    background-image: url("src/icons/status/mail-replied.svg");
  }
  &[data-icon="mail-unread"] {
    background-image: url("src/icons/status/mail-unread.svg");
  }
  &[data-icon="media-playlist-repeat"] {
    background-image: url("src/icons/status/media-playlist-repeat.svg");
  }
  &[data-icon="media-playlist-shuffle"] {
    background-image: url("src/icons/status/media-playlist-shuffle.svg");
  }
  &[data-icon="microphone-sensitivity-high"] {
    background-image: url("src/icons/status/microphone-sensitivity-high.svg");
  }
  &[data-icon="microphone-sensitivity-low"] {
    background-image: url("src/icons/status/microphone-sensitivity-low.svg");
  }
  &[data-icon="microphone-sensitivity-medium"] {
    background-image: url("src/icons/status/microphone-sensitivity-medium.svg");
  }
  &[data-icon="microphone-sensitivity-muted"] {
    background-image: url("src/icons/status/microphone-sensitivity-muted.svg");
  }
  &[data-icon="network-cellular-connected"] {
    background-image: url("src/icons/status/network-cellular-connected.svg");
  }
  &[data-icon="network-error"] {
    background-image: url("src/icons/status/network-error.svg");
  }
  &[data-icon="network-idle"] {
    background-image: url("src/icons/status/network-idle.svg");
  }
  &[data-icon="network-offline"] {
    background-image: url("src/icons/status/network-offline.svg");
  }
  &[data-icon="network-receive"] {
    background-image: url("src/icons/status/network-receive.svg");
  }
  &[data-icon="network-transmit-receive"] {
    background-image: url("src/icons/status/network-transmit-receive.svg");
  }
  &[data-icon="network-transmit"] {
    background-image: url("src/icons/status/network-transmit.svg");
  }
  &[data-icon="network-wired-disconnected"] {
    background-image: url("src/icons/status/network-wired-disconnected.svg");
  }
  &[data-icon="non-starred"] {
    background-image: url("src/icons/status/non-starred.svg");
  }
  &[data-icon="printer-error"] {
    background-image: url("src/icons/status/printer-error.svg");
  }
  &[data-icon="printer-printing"] {
    background-image: url("src/icons/status/printer-printing.svg");
  }
  &[data-icon="security-high"] {
    background-image: url("src/icons/status/security-high.svg");
  }
  &[data-icon="security-low"] {
    background-image: url("src/icons/status/security-low.svg");
  }
  &[data-icon="security-medium"] {
    background-image: url("src/icons/status/security-medium.svg");
  }
  &[data-icon="semi-starred-rtl"] {
    background-image: url("src/icons/status/semi-starred-rtl.svg");
  }
  &[data-icon="semi-starred"] {
    background-image: url("src/icons/status/semi-starred.svg");
  }
  &[data-icon="software-update-available"] {
    background-image: url("src/icons/status/software-update-available.svg");
  }
  &[data-icon="software-update-urgent"] {
    background-image: url("src/icons/status/software-update-urgent.svg");
  }
  &[data-icon="starred"] {
    background-image: url("src/icons/status/starred.svg");
  }
  &[data-icon="task-due"] {
    background-image: url("src/icons/status/task-due.svg");
  }
  &[data-icon="task-past-due"] {
    background-image: url("src/icons/status/task-past-due.svg");
  }
  &[data-icon="trophy-bronze"] {
    background-image: url("src/icons/status/trophy-bronze.svg");
  }
  &[data-icon="trophy-gold"] {
    background-image: url("src/icons/status/trophy-gold.svg");
  }
  &[data-icon="trophy-silver"] {
    background-image: url("src/icons/status/trophy-silver.svg");
  }
  &[data-icon="user-available"] {
    background-image: url("src/icons/status/user-available.svg");
  }
  &[data-icon="user-away"] {
    background-image: url("src/icons/status/user-away.svg");
  }
  &[data-icon="user-busy"] {
    background-image: url("src/icons/status/user-busy.svg");
  }
  &[data-icon="user-idle"] {
    background-image: url("src/icons/status/user-idle.svg");
  }
  &[data-icon="user-invisible"] {
    background-image: url("src/icons/status/user-invisible.svg");
  }
  &[data-icon="user-offline"] {
    background-image: url("src/icons/status/user-offline.svg");
  }
  &[data-icon="user-trash-full"] {
    background-image: url("src/icons/status/user-trash-full.svg");
  }
  &[data-icon="weather-clear-night"] {
    background-image: url("src/icons/status/weather-clear-night.svg");
  }
  &[data-icon="weather-clear"] {
    background-image: url("src/icons/status/weather-clear.svg");
  }
  &[data-icon="weather-few-clouds-night"] {
    background-image: url("src/icons/status/weather-few-clouds-night.svg");
  }
  &[data-icon="weather-few-clouds"] {
    background-image: url("src/icons/status/weather-few-clouds.svg");
  }
  &[data-icon="weather-fog"] {
    background-image: url("src/icons/status/weather-fog.svg");
  }
  &[data-icon="weather-overcast"] {
    background-image: url("src/icons/status/weather-overcast.svg");
  }
  &[data-icon="weather-severe-alert"] {
    background-image: url("src/icons/status/weather-severe-alert.svg");
  }
  &[data-icon="weather-showers-scattered"] {
    background-image: url("src/icons/status/weather-showers-scattered.svg");
  }
  &[data-icon="weather-showers"] {
    background-image: url("src/icons/status/weather-showers.svg");
  }
  &[data-icon="weather-snow"] {
    background-image: url("src/icons/status/weather-snow.svg");
  }
  &[data-icon="weather-storm"] {
    background-image: url("src/icons/status/weather-storm.svg");
  }
}
